:root {
  --main-font: "FuturaLTPro-Book", "Arial Bold", sans-serif;
}

#seventh-szb-container {
  width: 100%;
}

#seventh-szb-container .szb-vfr-btns {
  gap: 1em;
  display: flex;
  justify-content: center;
}

#seventh-szb-container .vfr__button--clean {
  outline: none !important;
  text-decoration: underline;
  font-family: var(--main-font);
  color: #f0f6f7;
}

#seventh-szb-container button#szb-chart-button {
  text-decoration: underline;
  color: #f0f6f7;
}

#seventh-szb-container .div-span > span {
  color: #f0f6f7;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  #seventh-szb-container {
    margin-left: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #seventh-szb-container .vfr__button--clean {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #seventh-szb-container div.szb-vfr-btns {
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
