@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

@font-face {
  font-family: "Sizebay";
  src: url("https://static.sizebay.technology/font/stores/fontRuler/fonts/buttons-icons.woff");
}

@font-face {
  font-family: "Sizebay";
  src: url("https://static.sizebay.technology/font/stores/fontRuler/fonts/untitled-font-3.woff");
}

:root {
  --main-font: "Outfit", sans-serif;
  --main-color: #ffffff;
}

#third-szb-container div.szb-vfr-btns {
  gap: 1em;
}

#third-szb-container button.vfr__button--clean {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  margin: 0;
  height: max-content;
  line-height: normal;
  outline: solid 1px #ffffff !important;
  padding: 12px 16px;
  background: #303030;
  transition: 0.3s;
}

#third-szb-container .vfr__button--clean:hover {
  text-decoration: none;
  background: #ffffff;
  color: #000000;
  outline: solid 1px #303030 !important;
}

#third-szb-container button.vfr__button--clean:hover::before {
  color: #000000;
}

#third-szb-container button.vfr__button--clean::before {
  display: flex;
  font-family: "Sizebay";
  font-size: 19px;
  text-transform: none;
  color: #ffffff;
  align-self: center;
  margin-right: 8px;
  transition: 0.3s;
}

#third-szb-container button#szb-vfr-button:before {
  height: 13px;
  content: "\61";
}

#third-szb-container button#szb-chart-button:before {
  height: 11px;
  content: "\62";
}

@media screen and (max-width: 768px) {
  #third-szb-container {
    margin-left: 0px;
    width: 100%;
  }

  #third-szb-container button.vfr__button--clean {
    justify-content: center;
  }

  #third-szb-container div.szb-vfr-btns {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 390px) {
  #third-szb-container button.vfr__button--clean {
    font-size: 12px;
  }
}
