:root {
  --main-font: "PPRadioGrotesk", Arial, sans-serif;
  --main-color: #f0f6f7;
}

/* @font-face {
  font-family: "untitled-font-3";
  src: url("../font/stores/fontRuler/fonts/untitled-font-3.woff");
  font-weight: normal;
  font-style: normal;
} */

#fourth-szb-container button[class^="vfr__button"]:focus {
  outline: none;
}

#fourth-szb-container {
  width: 100%;
  margin-left: 0px;
}

#fourth-szb-container .szb-vfr-btns {
  gap: 1em;
  display: flex;
  justify-content: center;
}

#fourth-szb-container .vfr__button--clean,
#fourth-szb-container .vfr__button--clean-icon {
  line-height: normal;
  font-size: 14px;
  color: #f0f6f7;
  text-decoration: none;
  text-transform: none;
  font-family: var(--main-font) !important;
  font-weight: 400;
  line-height: 15px;
  text-decoration: underline;
}

#fourth-szb-container .vfr__button--clean-icon:hover,
#fourth-szb-container .vfr__button--clean:hover {
  text-decoration: underline;
}

#fourth-szb-container button#szb-vfr-button:before,
#fourth-szb-container button#szb-chart-button:before {
  display: flex;
  content: "";
  margin-right: 6px;
}

#fourth-szb-container button#szb-chart-button:before {
  background: url(https://static.sizebay.technology/2399/ruler.svg) center
    center / 100% 100% no-repeat;
  height: 24px;
  width: 24px;
  /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%); */
}

#fourth-szb-container button#szb-vfr-button:before {
  background: url(https://static.sizebay.technology/2399/person.svg) center
    center / 100% 100% no-repeat;
  height: 24px;
  width: 24px;
  /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%); */
}

#fourth-szb-container #szb-vfr-button {
  margin-right: 0px;
}

@media screen and (max-width: 768px) {
  #fourth-szb-container {
    margin-left: 0px;
    width: 100%;
  }

  #fourth-szb-container .vfr__button--clean {
    justify-content: center;
    align-items: center;
  }

  #fourth-szb-container div.szb-vfr-btns {
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
}
