@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: Montserrat;
}

.AppContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1e1e1e;
  width: 100vw;
  height: 100vh;
}

.ButtonsGalleryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  flex-wrap: wrap;
  padding: 0vw 2vw;
}

.ButtonCard {
  background: #242626;
  width: 20vw;
  height: 12vh;
  padding: 2%;
  border-radius: 12px;
}

.ButtonCardHeader {
  display: flex;
  align: flex-start;
  margin-bottom: 2vw;
}

.ButtonCardNumber {
  background: #000000;
  color: #ffffff;
  font-weight: 700;
  padding: 4%;
  border-radius: 100%;
}

.ButtonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
