@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: Montserrat;
}

.AppContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #bf512b;
  width: 100vw;
  height: 100vh;
}

.LogoContainer {
  display: flex;
  margin-bottom: 4vh;
}

.SzbLogo {
  width: 20vw;
  border-radius: 6px;
}

.LanguageSelector {
  margin-bottom: 0.5em;
}

.ButtonsGalleryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  flex-wrap: wrap;
  padding: 0vw 2vw;
}

.ButtonCard {
  background: #1e1e1e;
  width: 25vw;
  height: 10vh;
  padding: 2%;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  transition: 0.3s;
}

.ButtonCard:hover {
  scale: 1.01;
}

.ButtonCardHeader {
  display: flex;
  align-items: flex-start;
}

.ButtonCardNumber {
  background: #303030;
  color: #f0f6f7;
  font-weight: 700;
  font-size: 1vw;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 5.5vh;
  border-radius: 100%;
}

.ButtonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.StylesDisclaimer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: #ffffff;
  margin-top: 4vh;
  gap: 1em;
}

.DisclaimerImg {
}

.DisclaimerText {
  text-align: center;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .AppContainer {
    height: 100%;
  }

  .SzbLogo {
    width: 60vw;
  }

  .ButtonsGalleryContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap !important;
    margin-bottom: 20%;
  }

  .ButtonCard {
    width: 80vw;
    height: 20vh;
  }

  .ButtonCardNumber {
    width: 10vw;
    height: 10vw;
    font-size: 0.8em;
  }

  .StylesDisclaimer {
    position: fixed;
    bottom: 0;
    font-size: 0.6em;
  }
}
